<!DOCTYPE html>
<html>

<head>
    <title>Playlist</title>
    <!-- includes the links for style sheets and  -->
    <%- include('./templates/headLinks'); %>
</head>

<body>
<!-- include for the navbar -->
<%- include('./templates/header'); %>


<h1></h1>

<div class="row" style="font-size: 200%; margin-top: 90px;">
    <% if(!authorized) { %>
    <div class="col-sm-4" align="center">
        <div class="list-group">
            <a id="spotbutt" href = "#" class="list-group-item active">
                Spotify
            </a>
            <div class="jumbotron">
                <a href="/spotify" class="btn btn-success"><span class="fa fa-spotify" style="padding: 15px; font-size: 200%;"> Spotify</span></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4" align="center">
        <a href="#" class="list-group-item active">
            Builder
        </a>
        <a href="#" class="list-group-item">I love
        </a>
        <a href="#" class="list-group-item">Music and stuff
        </a>
    </div>
<%}else {%>
    <div class="col-sm-4" align="center">
        <div class="list-group">
            <a id="spotbutt" href = "#" class="list-group-item active">
                Spotify
            </a>
            <ul id="spotsort" class="connectedSortable">
              <li class="ui-state-default">Item 1</li>
              <li class="ui-state-default">Item 2</li>
              <li class="ui-state-default">Item 3</li>
              <li class="ui-state-default">Item 4</li>
              <li class="ui-state-default">Item 5</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4" align="center">
        <a href="#" class="list-group-item active">
            Builder
        </a>
        <ul id="buildsort" class="connectedSortable">
              <li class="ui-state-default">Item 1</li>
              <li class="ui-state-default">Item 2</li>
              <li class="ui-state-default">Item 3</li>
              <li class="ui-state-default">Item 4</li>
              <li class="ui-state-default">Item 5</li>
        </ul>
    </div>
<%}%>

    <!-- place the authorized check here, if it's not authorized display this, else, display the playlists this user owns.-->
    <% if(!authorized){ %>
    <div class="col-md-4" align="center">
        <div class="list-group">
            <a id="youbutt" href="#" class="list-group-item active">
                Youtube
            </a>
            <div class="jumbotron">
                <a href="/oauth" class="btn btn-danger"><span class="fa fa-youtube" style="padding: 15px; font-size: 200%;"> YouTube</span></a>
            </div>
        </div>

    </div>
    <% }else {%>
    <div class="col-md-4" align="center">
        <div class="list-group">
            <a id="youbutt" href="#" class="list-group-item active">
                Youtube
            </a>
            <%if(!(playlists === null)){%>
            <%var pls = JSON.parse(playlists);%>
            <div class="panel-group">
                <%for(var i = 0; i < pls.plids.length;i++){%>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href='#collapse<%=i%>'><%=pls.plids[i].title%></a>
                        </h4>
                    </div>
                    <div id='collapse<%=i%>' class="collapse">
                        <ul id = '<%=pls.plids[i].id%>' class="list-group">

                        </ul>

                    </div>
                <%}%>
            </div>
            <%}%>

        </div>
    </div>

    <!-- <button type = "button" id = 'request-button' class = "btn btn-primary">Check Route</button>-->

    <%}%>
</div>
</div>


<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<script>
    r(function(){
        var snackbarContainer = document.querySelector('#demo-toast-example');
        var data = { message: 'Welcome'};
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
    });
    function r(f){ /in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
</script>

<!-- include for the footer -->
<div class="row">
    <%- include('./templates/footer'); %>
</div>

<!-- include the ajax calls to grab the playlists! -->
<% include displayplaylists%>

<%- include('./templates/bodyScript'); %>
<!-- Latest compiled and minified JavaScript -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


</body>
</html>
