<!DOCTYPE html>
<<<<<<< HEAD

<html>

    <head>
      <title>Playlist</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="#">Playlist</a>
            </div>
            <ul class="nav navbar-nav">
                <!-- any rightside buttons go here-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </div>
        </nav>
    	<h1></h1>
    	<% if(!authorized){ %>
            <div class="center"></div>
            <div class="row">
                <div class="col-sm-4" align="center">
                    <a href="#" class="btn btn-success"><span class="fa fa-spotify"> Spotify</span></a>
                    <div class="list-group">
                      <a href="#" class="list-group-item active">
                        Spotify
                      </a>
                      <a href="#" class="list-group-item">I love
                      </a>
                      <a href="#" class="list-group-item">Music and stuff
                      </a>
                    </div>
                </div>
                <div class="col-sm-4">.col-sm-4</div>
                <div class="col-sm-4" align="center">
                    <a href="/oauth" class="btn btn-danger"><span class="fa fa-youtube"> YouTube</span></a>
                    <div class="list-group">
                      <a href="#" class="list-group-item active">
                        Youtube
                      </a>
                      <a href="#" class="list-group-item">I love
                      </a>
                      <a href="#" class="list-group-item">Music and stuff
                      </a>
                    </div>
                </div>
            </div>
    	<% }else {%>
	    	    <%if(!(playlists === null)){%>
                    <%var pls = JSON.parse(playlists);
                    %>
                    <div class="container">
                    <h1>Here are your playlists!</h1>
                      <div class="panel-group">
                        <%for(var i = 0; i < pls.plids.length;i++){%>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" href='#collapse<%=i%>'><%=pls.plids[i].title%></a>
                                </h4>
                              </div>
                              <div id='collapse<%=i%>' class="panel-collapse collapse">
                                <ul id = '<%=pls.plids[i].id%>' class="list-group">
                                 
                                </ul>
                                <div class="panel-footer">Footer</div>
                              </div>
                            </div>
                        <%}%>
                      </div>
                    </div>
                <%}%>
                <!-- <button type = "button" id = 'request-button' class = "btn btn-primary">Check Route</button>-->
                
        <%}%>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type = "text/javascript">
         
            $(window).bind('load', function(){
                var pls = <%-playlists%>;
                var ids = pls['plids'];
                //$('#request-button').click(function(){
                    for(var i = 0; i < ids.length; i ++){
                        var id = '' + ids[i].id;
                        (function(id){
                        $.get({
                            url: '/playlists',
                            data: { id: id},
                            dataType:'json',
                            success: function(data, stat){
                                for(var j = 0; j < data.items.length; j++){
                                    //console.log(data.items[j].snippet.title);
                                    $("ul#" + id).prepend('<li class = "list-group-item">' + data.items[j].snippet.title+'</li>');
                                }
                            },
                            error: function(err){
                                console.log("something fucked up", err);
                            }
                        });
                        })(id);//
                    }
                //});
                
            });
        </script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
=======
<html lang="en">
<head>
  <title>Playlist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div>
			<a class="navbar-brand" href="#">Playlist</a>
		</div>
		<ul class="nav navbar-nav">
			<!-- any rightside buttons go here-->
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="http://localhost:3000/register">Sign Up</a></li><!--/oct 13 clyde-->
			<li><a href="#">Log In</a></li>
		</ul>
	</div>
</nav>
<video width="1000" height="500" autoplay>
  <source src="https://vt.tumblr.com/tumblr_oadaqbk17a1ufh3ag.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
</body>
</html>
>>>>>>> master
