<!DOCTYPE html>

<html>

    <head>
      <title>Playlist</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="#">Playlist</a>
            </div>
            <ul class="nav navbar-nav">
                <!-- any rightside buttons go here-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </div>
        </nav>
    	<h1></h1>
    	
            <div class="center"></div>
            <div class="row">
                <div class="col-sm-4" align="center">
                    <div class="list-group">
                      <a id="spotbutt" href = "#" class="list-group-item active">
                        Spotify
                      </a>
                      <div class="jumbotron">
                          <a href="/spotify" class="btn btn-success"><span class="fa fa-spotify"> Spotify</span></a>
                      </div>
                    </div>
                </div>
                <div class="col-sm-4" align="center">
                    <a href="#" class="list-group-item active">
                        Builder
                      </a>
                      <a href="#" class="list-group-item">I love
                      </a>
                      <a href="#" class="list-group-item">Music and stuff
                      </a>
                </div>

                <!-- place the authorized check here, if it's not authorized display this, else, display the playlists this user owns.-->
      <% if(!authorized){ %>
                <div class="col-md-4" align="center">
                    <div class="list-group">
                      <a id="youbutt" href="#" class="list-group-item active">
                        Youtube
                      </a>
                      <div class="jumbotron">
                          <a href="/oauth" class="btn btn-danger"><span class="fa fa-youtube"> YouTube</span></a>
                      </div>
                    </div>
                    
                </div>

            </div>
    	<% }else {%>
            <div class="col-md-4" align="center">
                <div class="list-group">
                  <a id="youbutt" href="#" class="list-group-item active">
                    Youtube
                  </a>
                  <%if(!(playlists === null)){%>
                    <%var pls = JSON.parse(playlists);%>
                      <div class="panel-group">
                        <%for(var i = 0; i < pls.plids.length;i++){%>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" href='#collapse<%=i%>'><%=pls.plids[i].title%></a>
                                </h4>
                              </div>
                              <div id='collapse<%=i%>' class="panel-collapse collapse">
                                <ul id = '<%=pls.plids[i].id%>' class="list-group">
                                 
                                </ul>
                                <div class="panel-footer">Footer</div>
                              </div>
                            </div>
                        <%}%>
                      </div>
                  <%}%>

                </div>
            </div>
	    	
                <!-- <button type = "button" id = 'request-button' class = "btn btn-primary">Check Route</button>-->
                
        <%}%>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- This shit is definitely going into another file at some point -->
        <script type = "text/javascript">
            
            $(window).bind('load', function(){
                  //check if the google authorized variable is set.
                  var tubeauth = <%if(locals.authorized){%>true;<%} else {%>false;<%}%>
                  if(tubeauth){
                  //A little workaround to silence the compiler.
                  var pls = <%if(locals.playlists){%><%-playlists%>;<%}else{%>'undefined';<%}%>
                  var ids = pls['plids'];
                      for(var i = 0; i < ids.length; i ++){
                          var id = '' + ids[i].id;
                          //we need to keep the proper id within function scope.
                          (function(id){
                          $.get({
                              url: '/playlists',
                              data: { id: id},
                              dataType:'json',
                              success: function(data, stat){
                                  for(var j = 0; j < data.items.length; j++){
                                      
                                      $("ul#" + id).prepend('<li class = "list-group-item">' + data.items[j].snippet.title+'</li>');
                                  }
                              },
                              error: function(err){
                                  console.log("something fucked up", err);
                              }
                          });
                          })(id);//
                      }
                
                }
            });
        </script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
