<!DOCTYPE html>

<html>

    <head>


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body>
    	<h1>Welcome to Playlist Manager Pre Alpha!</h1>
    	<% if(!authorized){ %>
    		<a href = "/oauth">To OAuth</a>
    	<% }else {%>
	    	    <%if(!(playlists === null)){%>
                    <%var pls = JSON.parse(playlists);
                    %>
                    <div class="container">
                    <h1>Here are your playlists!</h1>
                      <div class="panel-group">
                        <%for(var i = 0; i < pls.plids.length;i++){%>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" href='#collapse<%=i%>'><%=pls.plids[i].title%></a>
                                </h4>
                              </div>
                              <div id='collapse<%=i%>' class="panel-collapse collapse">
                                <ul id = '<%=pls.plids[i].id%>' class="list-group">
                                 
                                </ul>
                                <div class="panel-footer">Footer</div>
                              </div>
                            </div>
                        <%}%>
                      </div>
                    </div>
                <%}%>
                <button type = "button" id = 'request-button' class = "btn btn-primary">Check Route</button>
                
        <%}%>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type = "text/javascript">
         
            $(window).bind('load', function(){
                var pls = <%-playlists%>;
                var ids = pls['plids'];
                //$('#request-button').click(function(){
                    for(var i = 0; i < ids.length; i ++){
                        var id = '' + ids[i].id;
                        (function(id){
                        $.get({
                            url: '/playlists',
                            data: { id: id},
                            dataType:'json',
                            success: function(data, stat){
                                for(var j = 0; j < data.items.length; j++){
                                    //console.log(data.items[j].snippet.title);
                                    $("ul#" + id).prepend('<li class = "list-group-item">' + data.items[j].snippet.title+'</li>');
                                }
                            },
                            error: function(err){
                                console.log("something fucked up", err);
                            }
                        });
                        })(id);//
                    }
                //});
                
            });
        </script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
